<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Viewing : @<%= post.username %> post</h1>
    <h2>id: <%= post.id %></h2>
    <h3>Content: <%= post.content %></h3>
    
</body>
</html>